<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./estilos.css">
    <title>Document</title>
</head>
<body>
    <main class="contenido-principal">   
        <h2>Zafary</h2>
      
        <h2>La mejor forma de ver los sitios web.</h2> 
        
        <img src="img/pc.png"alt="mac">                                                                                                                                                                                                                                                                                                                   
    </main>

    <script src="./home/index.js"></script> 
</body>
</html>